<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>ItemConfigClient</title>
    <base href="/app/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.e5035f2fcf102f5b467a.css"></head>
</head>
<body>
<app-root></app-root>
<script type="text/javascript" src="/static/js/runtime.ec2944dd8b20ec099bf3.js"></script>
<script type="text/javascript" src="/static/js/polyfills.4a1680e9bfa9b2241c7e.js"></script>
<script type="text/javascript" src="/static/js/scripts.6bc580d54b3e6256921f.js"></script>
<script type="text/javascript" src="/static/js/main.8cc5ce708ae9e84315be.js"></script>
</body>
</html>